# Export-ignore files (GitHub download link, composer [--prefer-dist])
# Dont add bower.json, otherwise it is not loaded in the Bower package
docs          export-ignore
.*            export-ignore
Gruntfile.js  export-ignore
README.md     export-ignore
package.json  export-ignore
