body {
  padding-top: 20px;
}

footer {
  padding-bottom: 10px;
}

a {
  cursor: pointer;
}

.m-b {
  margin-bottom: 15px;
}

.input-group-addon,
.input-group-btn {
  width: auto;
}

.input-group-addon {
  background-color: white;
}

pre {
  padding: 0;
}
