body {
	padding-top: 20px;
}

footer {
	padding-bottom: 10px;
}

pre {
	-moz-tab-size: 2;
	tab-size: 2;
}

a {
	cursor: pointer;
}

.m-b {
	margin-bottom: 15px;
}

.glyphicon + span,
.nav .caret {
	margin-left: 4px;
}
